<div>
    <ul class="navbar list-unstyled">
        <div class="left-item">
            <li class="nav-item" routerLink="/home" routerLinkActive="active"><a><i
                        class="bi bi-house fs-5 me-3"></i>
                        <a routerLink="/home">Home</a>
                    </a></li>
            <li class="nav-item" routerLink="/home" routerLinkActive="active"><a><i
                        class="bi bi-house fs-5 me-3"></i>Profile</a></li>
            <li class="nav-item" routerLink="/home" routerLinkActive="active"><a><i
                        class="bi bi-house fs-5 me-3"></i>Details</a></li>
        </div>
        <div class="center-item">
            <li class="nav-item">
                <img src="assets/zkto-transparent-logo.png" class="zkto-logo" alt="Logo">
            </li>
        </div>
        <div class="right-item">
            <li class="nav-item" routerLink="/home" routerLinkActive="active"><a><i
                        class="bi bi-house fs-5 me-3"></i>Contacts</a></li>
        </div>
    </ul>
</div>