<footer class="footer text-center main-footer">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Instagram -->
      <a class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fa fa-instagram" style="font-size:48px;color:gray"></i></a>

      <!-- YouTube -->
      <a class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fa fa-youtube-play" style="font-size:48px;color:gray"></i></a>

      <!-- Github -->
      <a class="btn btn-outline btn-floating m-1" href="#!" role="button">
        <i class="fa fa-github" style="font-size:48px;color:gray"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
        harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright: <b>ZKTO</b>
  </div>
  <!-- Copyright -->
</footer>