/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.css';

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.home-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /*overflow-y: auto; add scrollbar*/
    position: relative;
  }

.image-container {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}